<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Todo List</title>
</head>
<body>
    <div class="box" id="heading">
        
        <h1><%=listTitle%></h1>
    </div>
            <div class="box">

                <ul>
                  <% for (let index  = 0; index < new_task.length; index++) { %>
                   <div class="item">
                    <input type="checkbox">
                     <p> <%=new_task[index]%></p>
                    </div>
                     <% } %>
          
                    <form class="item" method="post">
                      <input
                      autocomplete="off"
                      type="text"
                      name="newTask"
                      placeholder="Add a New Task"
                      class="form-control"
                      />
                      <button type="submit" name="list" class="btn btn-primary mx-4 my-4" value="<%= listTitle %>">+</button>
                      
                    </form>
              </div>
          
              </ul>
   

    
</body>
</html>